@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


$font-face: 'Lato', sans-serif;
$bold-weight: 700;

body {
  font-family: $font-face;
  display: flex;
  align-content: center;
  justify-content: center;
}

h2, h4 {
  font-weight: $bold-weight;
}

li {
  list-style: none;
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
  display: block;
}

p {
  color: #A5AEB7;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.3s ease-in;
  margin: 40px 0;
  max-width: 550px;

  &:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  }

  @media (max-width: 800px) {
    margin: 10px 2px;
    width: 100%;
  }
}

.container {
  padding: 5px 5% 5px;
}

.circles {
  margin-left: 5px;
  margin-bottom: 0;
  size: 5px;
}

.card-title {
  margin-top: 5px;
}

.card-content {

}

.two-column-div {
  display: flex;
  padding-top: 5px;
  font-weight: $bold-weight;
  margin-top: 10px;
  margin-bottom: 15px;
}

.slide-bottom-content {
  flex: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overlay-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 80%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

}

.image-container {
  position: relative;

  &:hover .overlay{
    opacity: 0.8;
  }
  &:hover .overlay-text {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

.modal {
  display: flex;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.modal-card {
  background-color: white;
  border-radius: 5px;
  transition: 0.3s ease-in;
  margin: auto;
  max-width: 750px;

  @media (max-width: 800px) {
    margin: 10px 2px;
    width: 100%;
    max-height: 85%;
  }
}
.modal-img {
  height: auto;
  max-height:450px;
}

.modal-bottom-content {
  display: flex;
  padding-top: 5px;
  font-weight: $bold-weight;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.modal-profile-picture {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.modal-bottom-name {
  padding-left: 10px;
}

.modal-close-button {
  color: #A5AEB7;
  padding: 4px 10px;
  float: right;
  font-weight:$bold-weight;
  font-size: 25px;
}
